@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import './base.css';
@import "tailwindcss";

@theme {
  --color-background-custom: var(--bg);
  --color-text-custom: var(--text);
  --color-primary-custom: var(--primary);
  --color-secondary-custom: var(--secondary);
  --color-accent-custom: var(--accent);
}

:root {
  font-family: 'Space Grotesk', sans-serif;
  --bg: #FAFAFA;
  --text: #09090B;
  --primary: #18181B;
  --secondary: #3F3F46;
  --accent: #2563EB;
}

.dark {
  --bg: #09090B;
  --text: #FAFAFA;
  --primary: #18181B;
  --secondary: #A1A1AA;
  --accent: #3B82F6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo', sans-serif;
}

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
}
