@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brutal-cream text-brutal-black overflow-x-hidden;
}

/* Custom Brutalist Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #09090B;
}
::-webkit-scrollbar-thumb {
  background: #DFE104;
  border: 3px solid #09090B;
}
