@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brutal-cream text-brutal-black overflow-x-hidden;
}

/* Custom Brutalist Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #09090B;
}
::-webkit-scrollbar-thumb {
  background: #DFE104;
  border: 3px solid #09090B;
}

.brutal-dot-pattern {
  background-image: radial-gradient(#09090B 2px, transparent 2px);
  background-size: 24px 24px;
}

.brutal-grid-pattern {
  background-image: 
    linear-gradient(to right, #09090B 1px, transparent 1px),
    linear-gradient(to bottom, #09090B 1px, transparent 1px);
  background-size: 24px 24px;
}

.brutal-stripe-pattern {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(9, 9, 11, 0.1) 10px,
    rgba(9, 9, 11, 0.1) 20px
  );
}
